<div class="btn-group flex-dropdown" dropdown>
      <button type="button" class="btn bg-primary" dropdownToggle addToggleClass="true">Tipo de Equipamento
        <span class="sr-only">Toggle Dropdown</span></button>
      <ul class="dropdown-menu" dropdownMenu>
        <li class="dropdown-item"><a href="#"> CRAS </a></li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><a href="#"> CREAS </a></li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><a href="#"> CENTRO POP</a></li>
         <li class="dropdown-divider"></li>
      </ul>
</div>

