
<div class="btn-group flex-dropdown" dropdown>
  <span>2015</span> <button type="button" class="btn btn-default btn-raised" dropdownToggle addToggleClass="true">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" dropdownMenu id="barra-de-rolar">

    <li><a href="#"> 2017 </a></li>
    <li><a href="#"> 2016 </a></li>
    <li><a href="#"> 2015 </a></li>
    <li><a href="#"> 2014</a></li>
    <li><a href="#"> 2013 </a></li>
    <li><a href="#"> 2012 </a></li>
    <li><a href="#"> 2011 </a></li>
    <li><a href="#"> 2010 </a></li>
    <li><a href="#"> 2009 </a></li>
    <li><a href="#"> 2008 </a></li>
    <li><a href="#"> 2007 </a></li>
    <li><a href="#"> 2006 </a></li>
    <li><a href="#"> 2005 </a></li>
    <li><a href="#"> 2004 </a></li>
    <li><a href="#"> 2003 </a></li>
    <li><a href="#"> 2002 </a></li>
    <li><a href="#"> 2001 </a></li>
    <li><a href="#"> 2000 </a></li>
  </ul>
</div>
