<p > 2015 </p>
<ul>
  <li><a href="#"><img src="{{ ( 'seta-down2'| baProfilePicture ) }}" width="35px" height="35px"> </a>
    <ul id="barra-de-rolagem">
      <li><a href="#"> 2017 </a></li>
      <li><a href="#"> 2016 </a></li>
      <li><a href="#"> 2015 </a></li>
      <li><a href="#"> 2014</a></li>
      <li><a href="#"> 2013 </a></li>
      <li><a href="#"> 2012 </a></li>
      <li><a href="#"> 2011 </a></li>
      <li><a href="#"> 2010 </a></li>
      <li><a href="#"> 2009 </a></li>
      <li><a href="#"> 2008 </a></li>
      <li><a href="#"> 2007 </a></li>
      <li><a href="#"> 2006 </a></li>
      <li><a href="#"> 2005 </a></li>
      <li><a href="#"> 2004 </a></li>
      <li><a href="#"> 2003 </a></li>
      <li><a href="#"> 2002 </a></li>
      <li><a href="#"> 2001 </a></li>
      <li><a href="#"> 2000 </a></li>

    </ul>
  </li>
</ul>

