<div class="row" id="barra">
<div class="btn-group flex-dropdown" dropdown>
  <button type="button" class="btn bg-primary" dropdownToggle addToggleClass="true"> 2015
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" dropdownMenu>
    <li class="dropdown-item"><a href="#"> 2017 </a></li>
    <li class="dropdown-item"><a href="#"> 2016 </a></li>
    <li class="dropdown-item"><a href="#"> 2015</a></li>
    <li class="dropdown-item"><a href="#"> 2014</a></li>
    <li class="dropdown-item"><a href="#"> 2013</a></li>
    <li class="dropdown-item"><a href="#"> 2012 </a></li>
    <li class="dropdown-item"><a href="#"> 2011 </a></li>
    <li class="dropdown-item"><a href="#"> 2010</a></li>
    <li class="dropdown-item"><a href="#"> 2009</a></li>
    <li class="dropdown-item"><a href="#"> 2008</a></li>
    <li class="dropdown-item"><a href="#"> 2007</a></li>
    <li class="dropdown-item"><a href="#"> 2006</a></li>
    <li class="dropdown-item"><a href="#"> 2005</a></li>
    <li class="dropdown-item"><a href="#"> 2004</a></li>
    <li class="dropdown-item"><a href="#"> 2003</a></li>
    <li class="dropdown-item"><a href="#"> 2002</a></li>
    <li class="dropdown-item"><a href="#"> 2001</a></li>
    <li class="dropdown-item"><a href="#"> 2000</a></li>
  </ul>
</div>
</div>
