.paragrafo {
  color: black;
  font-size: 13px;
  font-weight: normal;
}

.util {
  color: #25753a;
}

.nao-util {
  color: #8f2420;
}

.cabeçalho{
  font-size: 15px;
  color: #00003d;
  font-weight: bold;
  background-color:steelblue;
}

table{
  background-color: #c1ccc8;
}

#back{
  background-color: transparent;
}
