.alinhadir{
  text-align:right;
}

 .alinhaesq{
   text-align: left;

 }
 .alinhacentro{
   text-align: center;
   width: 20px;
 }

 table{
   font-size: 10px;
   text-align: center;

 }

 .dados{
   font-family: "Arial Black", arial-black;
   font-size: 15px;
   text-align:right;
   color:midnightblue;
 }

 .totalequipamentos{
   font-family: "Arial Black", arial-black;
   font-size: 15px;
   color:midnightblue;
   text-align: center;

 }
.percentual{
  font-family: "Arial Black", arial-black;
  font-size: 15px;
  color: orange;
}

.equipamentos{
  font-family: "Arial Black", arial-black;
  font-size: 15px;
  color:#212121 ;
  text-align: center;

}

 .municipio{
   font-family: "Arial Black", arial-black;
   font-size: 15px;
   color: #212121 ;

 }


hr{
  border: 1px solid;
  margin-top: auto;
  margin-left: 73%;
  width:28%;
}
