 .box {
   width: 10%;
   float: right;
  height: 10px; /*Altura da linha */
}

.linha-vertical {
  border-left: 2px solid; /*  Adiciona borda esquerda na div como ser fosse uma linha.*/
  box-sizing: border-box;
}

.alinhadir{
  width: 10%;
  float:right;
}

 .alinhacentro{
   font-size: 115%;
   text-align: center;
 }

 .dados{
   font-family: "Arial Black", arial-black;
   font-size: 20px;
   color:darkblue;
   width: 20%;
   float:right;
 }

 .totalequipamentos{
   font-family: "Arial Black", arial-black;
   font-size: 20px;
   color:darkblue;
   text-align: center;

 }
.percentual{
  font-family: "Arial Black", arial-black;
  font-size: 20px;
  color: orangered;
}

.equipamentos{
  font-family: "Arial Black", arial-black;
  font-size: 20px;
  color: black;

}


