<div class=" alinha-direita">
  <div class="col-sm-4 col-xs-6 col-lg-4 col-md-6">
    <div class="btn-group flex-dropdown" dropdown>
      <button type="button" class="btn btn-default btn-raised" dropdownToggle addToggleClass="true">
        Tipo de Equipamento
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" dropdownMenu>
        <li class="dropdown-item"><a href="#"> CRAS </a></li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><a href="#"> CREAS </a></li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><a href="#"> CENTRO POP</a></li>
        <li class="dropdown-divider"></li>
      </ul>
    </div>
  </div>
</div>
