#barra-de-rolagem {
  width:230px;
  height:180px;
  background-color: white;
  opacity: 0.7;
  overflow-y:auto;
  overflow-x: hidden;
  float: none;
}

ul {
  padding: 0;
  list-style: none;
}
ul li {
  width: 300px;
  text-align: left;

}
ul li a{
  padding: 5px;
  text-decoration: none;
  color:slategray;
}
ul li a:hover {
  color: white;
  background-color: lightslategray;
  text-decoration: underline;
}
ul li ul {
  display: none;
}
ul li:hover ul {
  display: block;
}
