.alinhadir{
  float:right;
}

.alinhacentro{
  text-align:right;
  width: 69%;
  font-size: 10px;
  color: white;
}


.fonte{
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.fonte2{
  font-size: 10px;
  color:white;
  text-align: right;
}

.negrito{
font-weight: bold;
}

.dados{
  font-family: "Arial Black", arial-black;
  font-size: 20px;
  color:midnightblue;
  text-align:right;
}


.percentual{
  font-family: "Arial Black", arial-black;
  font-size: 15px;
  color: orange;
  text-align: right;
}



hr{
width: 200%;
  color: white;

}

.linha-horizontal{
  width:100%;
}

