.alinhadir{
  float:right;
}

.alinhacentro{
  text-align:right;
  width: 69%;
  font-size: 10px;
  color: black;
}


.fonte{
  font-size: 15px;
  font-weight: bold;
  color: black;
  float: left;
}

.fonte2{
  font-size: 10px;
  color:black;
  text-align: right;
  background-color: #c1ccc8;
  opacity: 0.9;
}

.negrito{
font-weight: bold;
}

.dados{
  font-family: "Arial Black", arial-black;
  font-size: 20px;
  color:midnightblue;
  text-align:right;
}

.dados2{
  font-family: "Arial Black", arial-black;
  font-size: 20px;
  color:midnightblue;
  text-align:right;
  float:right;
}


.percentual{
  font-family: "Arial Black", arial-black;
  font-size: 15px;
  color: orange;
  float: right;
  background: linear-gradient(blue,blue, #c1ccc8,#c1ccc8);
}



hr{
width: 150%;
  color: white;

}

.linha-horizontal{
  width:370%;
  color: white;
}

table{
  background-color: #c1ccc8;

}


.cabeçalho{
  font-size: 15px;
  color: #00003d;
  font-weight: bold;
  background-color:steelblue;
}

.texto{
  color:black;
}
