.alinhadir{
  text-align:right;
}

.alinhaesq{
  text-align: left;
}
.alinhacentro{
  font-size: 110%;
  text-align: center;
}

.dados{
  font-family: "Arial Black", arial-black;
  font-size: 20px;
  color:darkblue;
  text-align:right;
}

.totalequipamentos{
  font-family: "Arial Black", arial-black;
  font-size: 20px;
  color:darkblue;
  text-align: center;

}
.percentual{
  font-family: "Arial Black", arial-black;
  font-size: 20px;
  color: orangered;
}

.equipamentos{
  font-family: "Arial Black", arial-black;
  font-size: 20px;
  color: #282828;

}

.municipio{
  font-family: "Arial Black", arial-black;
  font-size: 20px;
  color: #282828;

}

hr{
  color:white;
}

