<div class="page-top clearfix" >

   <a routerLink="/pages/dashboard"><span></span></a>
    <a href (click)="toggleMenu()" class="collapse-menu-link ion-navicon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a>

    <a href="#">
      <img src="{{ ( 'observatorio' | baProfilePicture ) }}" width="160px" height="50px">
    </a>

    <a href="#">
      <img src="{{ ( 'mprj' | baProfilePicture ) }}" width="170px" height="65px">
    </a>

  <div class="search">
    <i class="ion-ios-search-strong" ng-click="startSearch()"></i>
    <input id="searchInput" type="text" placeholder="Procurar por...">
  </div>

  <div class="user-profile clearfix" align="right">
    <a href="http://localhost:3000/#/pages/tela1">
      <img src="{{ ( 'inicio' | baProfilePicture ) }}" width="45px" height="45px"><b>Início &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
    </a>

    <a href="http://localhost:3000/#/pages/tela2">
      <img  src="{{ ( 'dados-dos-municipios' | baProfilePicture ) }}" width="25px" height="27px"> <b>Dados dos Municípios&nbsp;&nbsp;&nbsp;&nbsp;</b>
    </a>

    <a href="http://localhost:3000/#/pages/tela3">
      <img   src="{{ ( 'inspeção' | baProfilePicture ) }}" width="40px" height="45px"> <b>Inspeções&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
    </a>

    <a href="http://localhost:3000/#/pages/tela4">
      <img src="{{ ( 'ajuda' | baProfilePicture ) }}" width="45px" height="50px"> <b>Ajuda&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
    </a>

    <a href="http://aplicacoes.mds.gov.br/sagi/portal/">
      <img src="{{ ( 'sitio-mds' | baProfilePicture ) }}" width="40px" height="37px"> <b>MDS</b>
    </a>
    </div>

  </div>

