.alinhacentro{
  font-size: 110%;
  text-align: center;
}

.equipamento{
  color:#00003d;
  font-weight: bold;
}

.parágrafo{
  color:#000000;
  font-weight: normal;
}


hr{
 color: white;
}

.cabeçalho{
  font-size: 15px;
  color: #00003d;
  font-weight: bold;
  background-color:steelblue;
}

table{
  background-color: #c1ccc8;
  opacity: 0.9;
}

#barra-de-rolar{
  width:528px;
  height:230px;
  background-color: #c1ccc8;
  opacity: 0.9;
  overflow-y:auto;
  overflow-x: hidden;
  float: none;
  margin-left: 20px;
}

div{
  margin-left: 928px;
}
