

.alinhacentro{
  font-size: 110%;
  text-align: center;
}

.equipamento{
  color:#00003d;
  font-weight: bold;
}

.parágrafo{
  color:#000000;
  font-weight: normal;
}


hr{
 color: white;
}

.cabeçalho{
  font-size: 15px;
  color: #00003d;
  font-weight: bold;
  background-color:steelblue;
}

table{
  background-color: #c1ccc8;
  opacity: 0.9;
}

