.box {
  width: 10px;
  float: right;
  height: 60px; /*Altura da linha */
}

.linha-vertical {
  border-left: 2px solid; /*  Adiciona borda esquerda na div como ser fosse uma linha.*/
  box-sizing: border-box;
}

.alinhadir{
  text-align:right;
  width:20%;

}

.alinhaesq{
  text-align: left;
  width: 20%;

}
.alinhacentro{
  font-size: 110%;
  text-align: center;
}

table{
  font-size: 10px;
}
.fonte{
  font-family: "Arial Black", arial-black;
  font-size: 15px;
  color: white;
}
.dados{
  font-family: "Arial Black", arial-black;
  font-size: 15px;
  color:midnightblue;
}

hr{
  border: 1px solid;
  margin-top: auto;

}
